.testimonials {
	box-sizing: border-box;
	padding-top: 90px;
	padding-bottom: 40px;
	background-color: $accent;
}

.testimonials__slide-wrapper {
	text-align: center;
	color: $color-white;
	cursor: all-scroll;
}

.testimonials__text {
	font-size: 24px;
}

.testimonials__name {
	margin-bottom: 70px;
	font-size: 12px;
}